.btn{
	.transition(0.2s);
	.border-radius(4px);
	margin: 0;
	padding: 0 15px;
	border: 0;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @pink;
	&:hover{
		border-color: darken(@pink,5%);
	}
}
