// fonts
.fp {font-family: Tahoma, 'Lucida Grande CE', lucida, sans-serif;} // font primary
.fh {font-family: 'Open Sans',sans-serif;} // font header
.fi {font-family: 'lb-fonts',sans-serif;} // font icon

// body
@bb: #d6dff0; // body background

// colors
@blue: #1d439c;
@pink: #ce1187;
@violet: #881137;
@cp: #454545; // color primary
@cl: @pink; // color link

// font sizes
@fsp: 14px; // font size primary
@fsh1: 20px; // font size h1
@fsh2: 20px; // font size h2
@fsh3: 18px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 0;