@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 740px;
	.container {
		width: @content-width;
	}
	#page-header,#col-bottom, {
		min-width: @content-width;
	}
	#page-header {
		.menu_category {
			margin: 20px 0 0;
			text-align: center;
			float: none;
			ul {
				li {
					float: none;
					display: inline-block;
					a {
						.border-radius(4px);
					}
				}
			}
		}
	}
	#mainmenu {
		.menu_main {
			ul {
				li {
					a {
						.fh;
						.border-radius(4px 4px 0 0);
						position: relative;
						margin: -5px 0 0;
						display: block;
						padding: 5px 31px 0;

						color: @blue;
						text-decoration: none;
						font-size: 18px;
						line-height: 41px;
						white-space: nowrap;

						padding-right: 10px;
						padding-left: 10px;
					}
				}
			}
		}
	}
	#wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	#col-main {
		width: 100%;
		float: none;
	}
	#col-center {
		width: 100%;
		float: none;
	}
	#col-left {
		width: 50%;
		padding: 0 10px 0 0;
	}
	#col-right {
		width: 50%;
		padding: 0 0 0 10px;
	}
	#col-bottom {
		&:before{
			display: none;
		}
	}
	.news {
		.item {
			figure {
				width: 18.9%;
			}
			.content {
				width: 78%;
			}
		}
	}
	.box_competition {
		figure {
			width: 30%;
		}
		.content {
			width: 65%;
		}
	}
	.menu_bottom {
		.title {
			h3 {
				padding-bottom: 50px;
			}
		}
		.col {
			padding-left: 20px;
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	#page-header,#col-bottom, {
		min-width: @content-width;
	}
	#page-header {
		.inner {
			padding: 0 20px;
			height: auto;
		}
		.menu_header {
			float: none;
			width: 100%;
			ul {
				float: none;
				text-align: center;
				li {
					float: none;
					display: block;
					a {
						margin: 0 0 5px;
					}
				}
			}
		}
		.search {
			padding: 20px 0;
			margin: 0;
			float: none;
			border-left: none;
			width: 100%;
			input[type=text] {
				float: none;
				width: 100%;
				margin-bottom: 5px;
			}
			button {
				.btn;
				float: none;
				width: 100%;
				&:before{
					display: none;
				}
			}
		}
		.logo {
			float: none;
			text-align: center;
			a {
				padding: 10px;
				display: inline-block;
				background: fade(#fff,50%);
			}
		}
		.login {
			float: none;
			width: 100%;
			a {
				display: block;
				background: fade(#fff,70%);
				margin: 0 0 20px;
				padding: 14px 0 14px 50px;
				&:before{
					left: 10px;
				}
			}
		}
	}
	#mainmenu {
		.menu_main {
			float: none;
			margin: 0 20px;
			ul {
				float: none;
				li {
					float: none;
				}
			}
		}
		.slider {
			display: none;
		}
	}
	#col-main {
		width: 100%;
		float: none;
	}
	#col-center {
		width: 100%;
		float: none;
	}
	#col-left {
		width: 100%;
	}
	#col-right {
		width: 100%;
	}
	#col-bottom {
		&:before{
			display: none;
		}
	}
	.news {
		.item {
			figure {
				float: none;
				width: 100%;
			}
			.content {
				float: none;
				width: 100%;
			}
		}
	}
	.box_rate {
		.title, .stars, .count{
			float: none;
			width: 100%;
		}
	}
	.page_denik {
		.page_header {
			.user {
				float: none;
				margin: 0 0 20px;
			}
			h1 {
				float: none;
				margin: 0 0 20px;
			}
		}
		.box_buttons {
			a {
				display: block;
				float: none;
			}
		}
	}
	.box_calendar {
		.title {
			float: none;
			width: 100%;
			padding-right: 0;
			&:before,&:after{
				display: none;
			}
		}
		.datepicker {
			float: none;
			width: 100%;
		}
	}
	.box_competition {
		float: none;
		width: 100%;
		.title {
			width: 100%;
			float: none;
		}
		figure {
			float: left;
			width: 100%;
		}
		.content {
			padding-top: 20px;
			float: none;
			clear: both;
			width: 100%;
		}
	}
	.box_video {
		float: none;
		width: 100%;
	}
	.menu_bottom {
		.items {
			padding: 0 20px;
			.col {
				float: none;
				width: 100%;
				&>ul {
					&>li {
						&>a {
							margin-bottom: 5px;
						}
						ul {
							.clearfix;
							margin: 0 0 20px;
							li {
								float: left;
								margin: 0 12px 5px 0;
							}
						}
					}
				}
			}
		}
	}
	.menu_footer {
		margin: 0 20px;
	}
	#page-footer {
		padding-right: 20px;
		padding-left: 20px;
	}
}